/* Dark board theme */

.besogo-svg-board {
    fill: #3c4142;
}

.besogo-svg-lines {
    stroke: black;
    stroke-width: 3.5;
    fill: none;
}

.besogo-svg-hoshi {
    stroke: black;
    stroke-width: 14;
}

.besogo-svg-blackStone {
    fill: black;
    stroke: black;
    stroke-width: 4;
}

.besogo-svg-whiteStone {
    fill: #929591;
    stroke: #929591;
    stroke-width: 4;
}

.besogo-svg-greyStone {
    fill: #536267;
    stroke: #536267;
    stroke-width: 4;
}

.besogo-black-label {
    fill: #929591;
}

.besogo-white-label {
    fill: black;
}

.besogo-empty-label {
    fill: black;
}

/* Overriding standard GUI theme */
.besogo-container {
    color: #929591;
    background: #1b2431;
}

.besogo-container button {
    background: #607c8e;
    color: black;
    border-color: #7fa3ba #3e515c #3e515c #7fa3ba;
}

.besogo-container input[type='button'] {
    background: #607c8e;
    color: black;
    border-color: #7fa3ba #3e515c #3e515c #7fa3ba;
}

.besogo-blackInfo {
    color: #929591;
    background: black;
}

.besogo-whiteInfo {
    color: black;
    background: #929591;
}

.besogo-miss {
    stroke: #be0119;
}

.modal-content {
    color: #929591;
    background: #1b2431;
    border: 1px solid black;
}

a {
    color: #95d0fc;
}

a:visited {
    color: #b790d4;
}
