html, body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

.besogo-container {
    height: 100%;
    width: 100%;
}

.besogo-hint {
    font-family: Georgia, serif;
    font-size: 12pt;
    white-space: pre-wrap;

    overflow: auto;
    flex: 1 1 35%;
    width: 100%;
}

#output p {
    margin: 3px 0px;
}

#dictionary-board, .none {
    display: none;
}
.hidden {
    visibility: hidden;
}
